<!doctype html>
<html lang="en">

<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- firestore-->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!--Materialize icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!--Css Style-->
    <link href="../style/main.css" rel="stylesheet">
    <title id="welcome-admin">Bienvenidx </title>
</head>

<body>
    <div class="container">
        <!--INICIA CONTENIDO-->
        <!--TABLA-->
        <section class="row col s10 m10 l10 xl10 offset-s1" id="log-in">
            <h3 id="title">Iniciar Sesión</h3>
            <input type="email" id="nombre-admin" value="@terminal1.mx">
            <input type="password" placeholder="password" id="password">
            <div class="btn-pad">
                <button id="entrar" class="btn-color btn-large">Entrar</button>
            </div>
        </section>
        <!--Incluír tabla-->
        <div id="login-section">
            <div class="center-align">
                <img src="../assets/t1.png">
            </div>
            <div class="row">
                <div class="pad-btn col s10 m10 l10 xl0">
                    <h4 class="subtitle left-align ">Bienvenidx Administrador</h4>
                </div>
                <div class="pad-btn-exit col s2 m2 l2 xl2">
                    <button class="btn2-color btn-large right-align ">Cerrar Sesión</button>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <section>
                        <!--Acceso a los registros-->
                        <table>
                            <thead class="btn-color">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Anfitrión</th>
                                    <th scope="col">Motivo </th>
                                    <th scope="col">Hora</th>
                                </tr>
                            </thead>
                            <tbody id="table">
                            </tbody>
                        </table>
                        <section id="sendRegister"></section>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!--Materialize min js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!--JQuery para menú desplegable-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"> 
    </script>
    <!--Script JS Link-->
    <script src="../js/registro.js"></script>
    <script src="../js/admlog.js"></script>
</body>

</html>