.shoot {
  width: 80%;
  height: 80%;
}
.container {
  font-family: 'Roboto', sans-serif;
  padding: 10%;
}
.bloque1 {
  text-align: center;
  align-content: center;
  padding: 10%;
  color: #3a3636e2;
  font-family: 'roboto', sans-serif;
}

.gif {
  width: 120%;
  height: 120%;
}

.btn-color {
  background-color: #27318f;
  color: white;
}
.btn2-color {
  background-color: #fa8688;
  color: white;
}
h1 {
  font-family: 'roboto', bold;
  font-size: 500%;
}

#log-in {
  text-align: center;
  font-family: 'roboto', sans-serif;
}
#title {
  font-family: 'roboto', bold;
  text-align: center;
  font-weight: 900;
  font-size: 500%;
  color: #47525e;
}
.subtitle {
  font-family: 'roboto', bold;
  font-weight: 900;
  font-size: 250%;
  color: #47525e;
}
.btn-pad {
  padding: 20%;
}

.pad-btn-exit {
  margin-top: 5%;
}
