.shoot {
  width: 80%;
  height: 80%;
}
.container {
  font-family: 'Roboto', sans-serif;
  padding: 10%;
}
.bloque1 {
  text-align: center;
  align-content: center;
  padding: 10%;
  color: #3a3636e2;
  font-family: 'roboto', sans-serif;
}

.gif {
  width: 120%;
  height: 120%;
}

.btn-color {
  background-color: #27318f;
}

h1 {
  font-family: 'roboto', bold;
  font-size: 500%;
}
.tabla {
}
